<div class="container">
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Gestion Commandes</h1>
            <div class="input-group">
                <input type="search" placeholder="rechercher commandes...">

            </div>
           
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">

            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Reference</th>
                        <th> Date </th>
                        <th>Nb article</th>
                        <th>totale commande</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let commande of commandes">
                        <td> {{ commande.idcmd }} </td>
                        <td> {{ commande.numtransac }} </td>
                        <td> {{ commande.datecmd}} </td>
                        <td> {{ commande.nbarticle }} </td>
                        <td> {{ commande.totalcmd }} </td>
                        <td>
                            
                            
                             <button class="status activé" (click)="validerCommande(commande.idcmd)">Valider</button>

                            
                            
                        </td>
                        
                    </tr>
                </tbody>
            </table>
           
           
        </section>
    </main>
</div>